<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcoiss.schedule.admin.dao.ElectronicFenceDao">

	<resultMap id="ElectronicFence" type="com.tcoiss.schedule.admin.core.model.ElectronicFence" >
		<result column="id" property="id" />
		<result column="local_key" property="localKey" />
		<result column="fence_gid" property="fenceGid" />
		<result column="fence_name" property="fenceName" />
		<result column="fence_points" property="fencePoints" />
		<result column="fence_enable" property="fenceEnable" />
		<result column="valid_time" property="validTime" />
		<result column="fence_repeat" property="fenceRepeat" />
		<result column="fence_time" property="fenceTime" />
		<result column="fence_desc" property="fenceDesc" />
		<result column="alert_condition" property="alertCondition" />
		<result column="create_time" property="createTime" />
		<result column="createor_id" property="createorId" />
	</resultMap>

	<sql id="Base_Column_List">
		t.id,
		t.local_key,
		t.fence_gid,
		t.fence_name,
		t.fence_points,
		t.fence_enable,
		t.valid_time,
		t.fence_repeat,
		t.fence_time,
		t.alert_condition,
		t.fence_desc,
		t.create_time,
		t.createor_id
	</sql>


	<select id="queryFence" resultMap="ElectronicFence">
		SELECT <include refid="Base_Column_List" />
		FROM electronic_fence AS t
		<if test="name != null and name != ''">
			where t.fence_name like CONCAT(CONCAT('%', #{name}), '%')
		</if>
		ORDER BY t.id ASC
	</select>

	<insert id="save" parameterType="com.tcoiss.schedule.admin.core.model.ElectronicFence" useGeneratedKeys="true" keyProperty="id" >
		INSERT INTO electronic_fence (
			`local_key`,
			`fence_name`,
			`fence_gid`,
			`fence_points`,
			fence_enable,
			valid_time,
			fence_repeat,
			fence_time,
			alert_condition
		)
		VALUES
			(
				#{localKey}, #{fenceName}, #{fenceGid}, #{fencePoints},#{fenceEnable},#{validTime},#{fenceRepeat},#{fenceTime},
				#{alertCondition}
			);
	</insert>



</mapper>