<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tcoiss.webservice.mapper.FencePointsMapper">
    
    <resultMap type="FencePoints" id="FencePointsResult">
        <result property="id"    column="id"    />
        <result property="pointName"    column="point_name"    />
        <result property="pointX"    column="point_x"    />
        <result property="pointY"    column="point_y"    />
        <result property="fenceName"    column="fence_name"    />
        <result property="fenceId"    column="fence_id"    />
    </resultMap>


</mapper>